<h3 class="ml-2" style="text-align:center">Categories</h3>
<div class="accordion mt-3" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                SPORTWEARS
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Sports shorts</a>
                <a href="#" class="list-group-item list-group-item-action">Sports athlete</a>
                <a href="#" class="list-group-item list-group-item-action">Yoga mat</a>
                <a href="#" class="list-group-item list-group-item-action">Fitness</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                MEN
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Men's clothing</a>
                <a href="#" class="list-group-item list-group-item-action">Men's accessory</a>
                <a href="#" class="list-group-item list-group-item-action">Bag</a>
                <a href="#" class="list-group-item list-group-item-action">Fitness</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                WOMEN
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Women's clothing</a>
                <a href="#" class="list-group-item list-group-item-action">Women's accessory</a>
                <a href="#" class="list-group-item list-group-item-action">Bag</a>
                <a href="#" class="list-group-item list-group-item-action">Yoga</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                KIDS
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Toy</a>
                <a href="#" class="list-group-item list-group-item-action">Kid's room</a>
                <a href="#" class="list-group-item list-group-item-action">Go-cart</a>
                <a href="#" class="list-group-item list-group-item-action">Food for children</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                TECHNOLOGY
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Computer</a>
                <a href="#" class="list-group-item list-group-item-action">Telephone</a>
                <a href="#" class="list-group-item list-group-item-action">Television</a>
                <a href="#" class="list-group-item list-group-item-action">E-Books</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                FOODS
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Vegetarian food</a>
                <a href="#" class="list-group-item list-group-item-action">Diet</a>
                <a href="#" class="list-group-item list-group-item-action">For athletes</a>
                <a href="#" class="list-group-item list-group-item-action">Fast-foods</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                HOME DESİGN
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">living room</a>
                <a href="#" class="list-group-item list-group-item-action">Bedroom</a>
                <a href="#" class="list-group-item list-group-item-action">Kitchen</a>
                <a href="#" class="list-group-item list-group-item-action">Home Design</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                COMPUTER
            </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Computer Accessories</a>
                <a href="#" class="list-group-item list-group-item-action">Computers&Tablets</a>
                <a href="#" class="list-group-item list-group-item-action">Data Storage</a>
                <a href="#" class="list-group-item list-group-item-action">Monitors</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                AMAZON MUSIC
            </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Amazon Music Unlimited</a>
                <a href="#" class="list-group-item list-group-item-action">Podcasts</a>
                <a href="#" class="list-group-item list-group-item-action">Play Music</a>
                <a href="#" class="list-group-item list-group-item-action">Open Web Player</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                SMART HOME
            </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Smart Home Lighting</a>
                <a href="#" class="list-group-item list-group-item-action">Security Cameras</a>
                <a href="#" class="list-group-item list-group-item-action">New Smart Devices</a>
                <a href="#" class="list-group-item list-group-item-action">Heating and Cooling</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                SOFTWARE
            </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body list-group">
                <a href="#" class="list-group-item list-group-item-action">Digital Software</a>
                <a href="#" class="list-group-item list-group-item-action">Games</a>
                <a href="#" class="list-group-item list-group-item-action">Music</a>
                <a href="#" class="list-group-item list-group-item-action">Education</a>
            </div>
        </div>
    </div>


</div>