{% load static %}
<footer class="container-fluid text-center p-5 mt-3">
    <div class="row divider">
        <h4><a class="top" href="#">Back to top</a></h4>
    </div>
    <div class="row mt-4">
        <div class="col-xl-3 col-md-6">
            <ul class="list">
                <li><b>
                        <h5>Get to Know Us</h5>
                    </b></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About SuperSale</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">SuperSale Devices</a></li>
                <li><a href="#">SuperSale Science</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-6">
            <ul class="list">
                <li><b>
                        <h5>Make Money with Us</h5>
                    </b></li>
                <li><a href="#">Sell products on SuperSale</a></li>
                <li><a href="#">Sell on SuperSale Business</a></li>
                <li><a href="#">Sell apps on SuperSale</a></li>
                <li><a href="#">Become an Affiliate</a></li>
                <li><a href="#">Advertise Your Products</a></li>
                <li><a href="#">Self-Publish with Us</a></li>
                <li><a href="#">Host an SuperSale Hub</a></li>
                <li><a href="#">See More Make Money with Us</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-6">
            <ul class="list">
                <li><b>
                        <h5>Amazon Payment Products</h5>
                    </b></li>
                <li><a href="#">SuperSale Business Card</a></li>
                <li><a href="#">Reload Your Balance</a></li>
                <li><a href="#">SuperSale Currency Converter</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-6">
            <ul class="list">
                <li><b>
                        <h5>Let Us Help You</h5>
                    </b></li>
                <li><a href="#">SuperSale and COVID-19</a></li>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Your Orders</a></li>
                <li><a href="#">Shipping Rates & Policies</a></li>
                <li><a href="#">Returns & Replacements</a></li>
                <li><a href="#">Manage Your Content and Devices</a></li>
                <li><a href="#">Amazon Assistant</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <img src="{% static 'images/logo.png' %}" alt="logo" class="m-auto" style="width: 200px;">
    </div>
</footer>