{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-2 accordion accordion-flush" id="accordionFlushExample">
            {% include "includes/categories.html" %}
        </div>
        <div class="col-xl-10 login text-center">
            <div class="row">
                <h3 style="text-align: center;">Create Product</h3>
            </div>
            <div class="row mt-2">
                        <div class="container">
                            <form action="" method="POST" enctype="multipart/form-data" class="w-50 m-auto border p-4">
                                {% csrf_token %}
                                {{form}}
                                {{form.media}}
                                <input type="submit" value="Oluştur" class="btn btn-primary mt-2">
                            </form>
                        </div>
            </div>
        </div>  
    </div>
</div>

{% endblock content %}