
    {% extends 'index.html' %}
    {% load static %}
    {% block content %}
    


    <!-- content -->

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-xl-2 accordion accordion-flush" id="accordionFlushExample">
                {% include "includes/categories.html" %}
            </div>


            <div class="col-xl-10 login text-center">

            <h3>{{user.name}} Information</h3>

                
                
            </div>

            
        </div>


    </div>


    {% endblock content %}
